/* line 3, home.scss */
#introVideo {
  width: 480px;
  height: 320px;
  margin: 20px auto;
  border: 1px solid black;
  line-height: 320px;
  vertical-align: middle;
}
/* line 11, home.scss */
#introVideo p {
  text-align: center;
}

/* line 14, home.scss */
.callouts {
  text-align: center;
  font-size: 0.7em;
}
/* line 18, home.scss */
.callouts > div {
  display: inline-block;
  box-sizing: border-box;
  width: 30%;
  text-align: left;
  margin: 0 10px;
}
/* line 25, home.scss */
.callouts > div ul {
  list-style: disc;
  padding-left: 20px;
}
