/* line 4, home.scss */
#register {
  display: inline-block;
  float: right;
  padding-top: 18px;
}
/* line 8, home.scss */
#register p, #register a {
  display: inline-block;
}

/* line 11, home.scss */
#videoContainer {
  width: 270px;
  height: 320px;
  margin: 20px auto;
  border: 1px solid black;
  line-height: 320px;
  vertical-align: middle;
}
/* line 19, home.scss */
#videoContainer p {
  text-align: center;
}

/* line 22, home.scss */
.callouts {
  text-align: center;
  font-size: 0.7em;
}
/* line 26, home.scss */
.callouts > div {
  display: inline-block;
  box-sizing: border-box;
  width: 30%;
  text-align: left;
  margin: 0 10px;
}
/* line 33, home.scss */
.callouts > div ul {
  list-style: disc;
  padding-left: 20px;
}
