$VideoHeight: 320px;
$VideoWidth: 480px;
#introVideo {
  width: $VideoWidth;
  height: $VideoHeight;
  margin: 20px auto;
  border: 1px solid black;
  line-height: $VideoHeight;
  vertical-align: middle;

  p { text-align: center; }
}

.callouts {
  text-align: center;
  font-size: 0.7em;

  & > div {
    display: inline-block;
    box-sizing: border-box;
    width: 30%;
    text-align: left;
    margin: 0 10px;

    ul {
      list-style: disc;
      padding-left: 20px;
    }
  }
}
