/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, styles.scss */
body {
  background: #f8f8f8;
  color: #333333;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  width: 100%;
  height: 100%;
}

/* line 16, styles.scss */
.container {
  margin: 0 auto;
  width: 960px;
}

/* line 21, styles.scss */
h1, h2, h3 {
  margin: 20px 0;
}

/* line 25, styles.scss */
h1 {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 2em;
  font-weight: 700;
}

/* line 31, styles.scss */
p {
  line-height: 1.5;
  margin: 10px 0;
}

/* line 36, styles.scss */
.nav {
  float: right;
}
/* line 39, styles.scss */
.nav li {
  float: left;
}
/* line 42, styles.scss */
.nav li a {
  display: block;
}

/* line 5, register.scss */
.registration-form {
  background: #e3e3e3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px #c7c7c7;
  margin: 0 auto;
  padding: 20px 30px;
  width: 432px;
}
/* line 14, register.scss */
.registration-form fieldset {
  margin: 15px 0;
}
/* line 18, register.scss */
.registration-form label {
  display: block;
  float: left;
  padding: 8px 10px 0 0;
  text-align: right;
  width: 100px;
}
/* line 26, register.scss */
.registration-form input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px #d3d3d3;
  display: block;
  padding: 8px 10px;
  width: 300px;
}
/* line 34, register.scss */
.registration-form button {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(100%, #333333));
  background: -webkit-linear-gradient(top, #555555, #333333);
  background: -moz-linear-gradient(top, #555555, #333333);
  background: -o-linear-gradient(top, #555555, #333333);
  background: linear-gradient(top, #555555, #333333);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px #222;
  color: #f8f8f8;
  cursor: pointer;
  float: right;
  font-size: 1em;
  padding: 8px 15px;
  text-transform: uppercase;
}
/* line 48, register.scss */
.registration-form button:hover,
.registration-form button:focus,
.registration-form button:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #777777), color-stop(100%, #555555));
  background: -webkit-linear-gradient(top, #777777, #555555);
  background: -moz-linear-gradient(top, #777777, #555555);
  background: -o-linear-gradient(top, #777777, #555555);
  background: linear-gradient(top, #777777, #555555);
}
