@import "styles";

$default-border-radius: 3px;

@mixin button {
    @include background(linear-gradient(top, #555, #333));
    @include border-radius;
    border: solid 1px #222;
    color: #f8f8f8;
    cursor: pointer;
    display: block;
    font-size: 1em;
    padding: 8px 15px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:focus,
    &:active {
        @include background(linear-gradient(top, #777, #555));
    }

}

.registration-form {

    background: #e3e3e3;
    @include border-radius;
    border: solid 1px #c7c7c7;
    margin: 0 auto;
    padding: 20px 30px;
    width: 402px;

    fieldset {
        margin: 15px 0;
    }

    label {
        display: block;
        float: left;
        padding: 8px 10px 0 0;
        text-align: right;
        width: 100px;
    }

    input {
        @include border-radius;
        border: solid 1px #d3d3d3;
        display: block;
        padding: 8px 10px;
        width: 270px;
    }

    button {
        @include button;
        float: right;
        margin-left: 15px;

        &[disabled] {
            background: #555;
            border-color: #555;
            color: #c7c7c7;
            cursor: default;
        }
    }

    .cancel {
        @include background(linear-gradient(top, #e3e3e3, #c7c7c7));
        border-color: #a3a3a3;
        color: #777;

        &:hover,
        &:focus,
        &:active {
            @include background(linear-gradient(top, #d3d3d3, #b7b7b7));
        }
    }

}

.help-inline {
    display: none;
}

.error .help-inline {
    color: #850C0C;
    display: block;
    margin-top: 5px;
    margin-left: 110px;
}
