@import "compass/reset";
@import "compass/css3";
@import "../vendor/font-awesome";

$sans-serif: 'Helvetica Neue', Arial, sans-serif;
$dark-grey: #333;
$page-width: 960px;
$default-border-radius: 3px;

@mixin inline-block{
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}

@mixin button {
  @include background(linear-gradient(top, #555, #333));
  @include border-radius;
  @include inline-block;
  border: solid 1px #222;
  color: #f8f8f8;
  cursor: pointer;
  font-size: 1em;
  padding: 8px 15px;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active {
      @include background(linear-gradient(top, #777, #555));
  }

  &[disabled] {
    background: #555;
    border-color: #555;
    color: #c7c7c7;
    cursor: default;
  }

  &.cancel {
    @include background(linear-gradient(top, #e3e3e3, #c7c7c7));
    border-color: #a3a3a3;
    color: #777;

    &:hover,
    &:focus,
    &:active {
        @include background(linear-gradient(top, #d3d3d3, #b7b7b7));
    }
  }
}

body {
  background: #f8f8f8 url('../images/gray_jean.png');
  color: $dark-grey;
  font-family: $sans-serif;
  font-size: 15px;
  width: 100%;
  height: 100%;

  & > header {
    width: $page-width;
    height: 50px;
    margin: 0 auto;
    h1 { @include inline-block; }
  }
}

footer {
  padding-top: 10px;
  text-align: right;
}

.container {
  margin: 0 auto;
  width: $page-width;

}

h1,h2,h3 {
  margin: 20px 0;
}

h1 {
  font-family: 'Open Sans', $sans-serif;
  font-size: 2em;
  font-weight: 700;
  float: left;
}

h2 {
  font-family: 'Open Sans', $sans-serif;
  font-size: 1.7em;
  font-weight: 700;
}

p {
  line-height: 1.5;
  margin: 10px 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.nav {
  float: right;

  li {
    float: left;

    a {
      display: block;
    }
  }
}

.nav-tabs {
    border-bottom: none;
    margin-bottom: 0;
}

.tab-content {
    background: #FFF;
    @include border-radius(0 3px 3px 3px);
    padding: 15px;
}

.tab-pane label {
    margin-bottom: 5px;
}

$VideoHeight: 320px;
$VideoWidth: 270px;

#register {
  float: right;
  padding-top: 12px;

  p {
    @include inline-block;
    padding-right: 25px;
  }

  button {
    @include button;
  }
}


#videoOuterContainer {
  background: #333 url('../images/debut_dark.png');
  @include box-shadow(0 0 10px rgba(0,0,0,0.7) inset);
  color: #fff;
  margin: 20px 0;
  text-align: center;

  &>div {
    @include inline-block;

    iframe {
      line-height: $VideoHeight;
      vertical-align: middle;

      p { text-align: center; }
    }
  }
}

.callouts {
  text-align: center;
  font-size: 0.7em;

  & > div {
    @include inline-block;
    box-sizing: border-box;
    width: 30%;
    text-align: left;
    margin: 0 10px;

    ul {
      list-style: disc;
      padding-left: 20px;
    }
  }
}

.modal {
  background: #e3e3e3;
}

.registration-form {

  margin: 0 auto;
  padding: 20px 0;
  width: 402px;

  fieldset {
    margin: 15px 0;
  }

  label {
    display: block;
    float: left;
    padding: 8px 10px 0 0;
    text-align: right;
    width: 100px;
  }

  input {
    @include border-radius;
    border: solid 1px #d3d3d3;
    display: block;
    padding: 8px 10px;
    width: 270px;
  }

  button {
    @include button;
    float: right;
    margin-left: 15px;
  }


}

.help-inline {
  display: none;
}

.error .help-inline {
  color: #850C0C;
  display: block;
  margin-top: 5px;
  margin-left: 110px;
}

.admin {

  header {
    height: auto;

    h1 {
      float: none;
    }
  }

  form.search {
    width: 50%;
    margin: 50px auto;

    input {
      width: 75%;
      box-sizing: border-box;
      padding: 7px;
      height: auto;
      margin-bottom: 0;
    }
  }

  th {
    font-weight: bold;
    color: #333;
  }
  td,th { padding: 4px 5px; }
  td.location, th.location { width: 16px; }
  td.location {
    color: #999;

    &.located {
      color: blue;
      cursor: pointer;
    }
  }

  .results {
    header {
      border-bottom: 1px solid #a2a2a2;
      margin: 0 0 10px;
      padding: 0 0 10px;

      h2 {
        float: left;
        margin: 0;
        padding: 0;
      }
    }

    table {
      width: 100%;

      td.actions{
        width: 1;
        text-align: right;
        a {
          padding: 0 5px;
        }
      }
    }

    nav {
      float: right;
      padding-top: 8px;
    }

  }

  button { @include button; }

  .checkinLog {
    padding: 20px;

    h2 { margin-top: 0; }

    .tableViewport {
      max-height: 200px;
      overflow: auto;
    }

    table {
      table-layout: fixed;
      width: 100%;

      .timestamp { width: 145px; }


    }
  }
}

.setSiteLocation {
  h2 { margin-top: 0; }
  .nav { float: none; }
  .knownLocations {
    input {
      width: 80%;
      margin-bottom: 15px;
    }
    ul {
      max-height: 200px;
      overflow: auto;

      li {
        @include button;
        margin: 0 10px 10px 0;
        font-size: 0.8em;
      }
    }
  }

  fieldset {
    @include inline-block;
    width: 42%;

    input: { width: 190px; }
  }
  fieldset.lat, fieldset.lon {
    @include inline-block;
    width: 28%;

    input {
      width: 120px;
    }
  }

  .map {
    width: 100%;
    height: 300px;
  }
}

.sendMessage {

  input { width: 100%; box-sizing: border-box; height: auto; }
  label { margin-bottom: 5px; }
}

.modal {
    margin-left: -300px;
    padding: 20px;
}

.map {
    width: 100%;
    height: 400px;

    img {
        max-width: inherit;
    }
}

.info-window-content {
    font-size: .9em;
    margin: 5px 0;
}
