@import "compass/reset";
@import "compass/css3";

$sans-serif: 'Helvetica Neue', Arial, sans-serif;
$dark-grey: #333;

body {
    background: #f8f8f8;
    color: $dark-grey;
    font-family: $sans-serif;
    font-size: 15px;
    width: 100%;
    height: 100%;
}

.container {
    margin: 0 auto;
    width: 960px;
}

h1,h2,h3 {
    margin: 20px 0;
}

h1 {
    font-family: 'Open Sans', $sans-serif;
    font-size: 2em;
    font-weight: 700;
}

h2 {
    font-family: 'Open Sans', $sans-serif;
    font-size: 1.7em;
    font-weight: 700;
}

p {
    line-height: 1.5;
    margin: 10px 0;
}

.nav {
    float: right;

    li {
        float: left;

        a {
            display: block;
        }
    }
}
