@import "compass/reset";
@import "compass/css3";

$sans-serif: 'Helvetica Neue', Arial, sans-serif;
$dark-grey: #333;
$page-width: 960px;
$default-border-radius: 3px;

@mixin button {
  @include background(linear-gradient(top, #555, #333));
  @include border-radius;
  border: solid 1px #222;
  color: #f8f8f8;
  cursor: pointer;
  display: block;
  font-size: 1em;
  padding: 8px 15px;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active {
      @include background(linear-gradient(top, #777, #555));
  }
}

body {
  background: #f8f8f8;
  color: $dark-grey;
  font-family: $sans-serif;
  font-size: 15px;
  width: 100%;
  height: 100%;

  & > header {
    width: $page-width;
    height: 50px;
    margin: 0 auto;
    h1 { display: inline-block; }
  }
}

.container {
  margin: 0 auto;
  width: $page-width;

}

h1,h2,h3 {
  margin: 20px 0;
}

h1 {
  font-family: 'Open Sans', $sans-serif;
  font-size: 2em;
  font-weight: 700;
  float: left;
}

h2 {
  font-family: 'Open Sans', $sans-serif;
  font-size: 1.7em;
  font-weight: 700;
}

p {
  line-height: 1.5;
  margin: 10px 0;
}

.nav {
  float: right;

  li {
    float: left;

    a {
      display: block;
    }
  }
}

$VideoHeight: 320px;
$VideoWidth: 270px;

#register {
  float: right;
  padding-top: 5px;

  p,a { display: inline-block; }

  button {
    @include button;
  }
}


#videoOuterContainer {
  background: #000;
  color: #fff;

 &>div{
    width: $VideoWidth;
    height: $VideoHeight;
    margin: 20px auto;
    border: 1px solid black;
    line-height: $VideoHeight;
    vertical-align: middle;

    p { text-align: center; }
  }
}

.callouts {
  text-align: center;
  font-size: 0.7em;

  & > div {
    display: inline-block;
    box-sizing: border-box;
    width: 30%;
    text-align: left;
    margin: 0 10px;

    ul {
      list-style: disc;
      padding-left: 20px;
    }
  }
}

.modal {
  background: #e3e3e3;
}

.registration-form {

  margin: 0 auto;
  padding: 20px 0;
  width: 402px;

  fieldset {
    margin: 15px 0;
  }

  label {
    display: block;
    float: left;
    padding: 8px 10px 0 0;
    text-align: right;
    width: 100px;
  }

  input {
    @include border-radius;
    border: solid 1px #d3d3d3;
    display: block;
    padding: 8px 10px;
    width: 270px;
  }

  button {
    @include button;
    float: right;
    margin-left: 15px;

    &[disabled] {
      background: #555;
      border-color: #555;
      color: #c7c7c7;
      cursor: default;
    }
  }

  .cancel {
    @include background(linear-gradient(top, #e3e3e3, #c7c7c7));
    border-color: #a3a3a3;
    color: #777;

    &:hover,
    &:focus,
    &:active {
        @include background(linear-gradient(top, #d3d3d3, #b7b7b7));
    }
  }

}

.help-inline {
  display: none;
}

.error .help-inline {
  color: #850C0C;
  display: block;
  margin-top: 5px;
  margin-left: 110px;
}
