<!DOCTYPE html>
<html lang="en" ng-app="adminApp">
<head>
    <meta charset="utf-8" />
    <title>Find my Volunteer :: Administration</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
</head>
<body ng-controller="adminCtrl" class="admin">

    <header>
      <h1>Find My Volunteers Administration</h1>
    </header>


    <div class="container">
      <form novalidate name="searchForm" class="search" type="GET">

          <fieldset class="clearfix">
              <input autofocus placeholder="Search Volunteer ID, Group ID or Volunteer Name" type="text" name="name" ng-model="search" />
              <button class="submit" ng-disabled="!hasSearchTerm()" ng-click="submitSearch()">Search</button>
          </fieldset>

      </form>

      <div class="results" ng-show="searchSubmitted">
        <header class="clearfix">
          <h2>Results</h2>

          <nav ng-show="searchFoundPeople()">
            <a href="#" ng-click="showLocation(people)">map</a>
          </nav>
        </header>
        <table ng-show="searchFoundPeople()">
          <tr>
            <th class="location">&nbsp;</th>
            <th class="name">Name</th>
            <th class="volunteerId">Volunteer Id</th>
            <th class="groupId">Group Id</th>
            <th class="contact">Contact Information</th>
            <th class="site">Site</th>
            <th class="actions">&nbsp;</th>
          </tr>
          <tr ng-repeat="person in people">
            <td location-title class="location" ng-click="showLocationForPerson(person)">
              <i ng-click="showLocation([person])" class="icon-map-marker"></i>
            </td>
            <td class="name">{{person.name}}</td>
            <td class="volunteerId">{{person.volunteerId}}</td>
            <td class="groupId">{{person.groupId}}</td>
            <td class="contact">{{person.contact.join(', ')}}</td>
            <td class="site"><a href="#" ng-click="editSiteForPerson(person)">{{person.site && person.site.alias || 'unknown'}}</a></td>
            <td class="actions">
              <a href="#" ng-click="showCheckinLogForPerson(person)">checkin log</a>
            </td>
          </tr>
        </table>

        <p class="noneFound" ng-show="!searchFoundPeople()">
          No People Found
        </p>

    </div>

    <div ui-modal ng-model="showCheckinLog" class="fade checkinLog">
      <h2>Checkin Log for {{checkinLog.name}}</h2>
      <table>
        <tr>
          <th class="location">&nbsp;</th>
          <th class="timestamp">Date &amp; Time</th>
          <th>Message</th>
        </tr>
      </table>
      <div class="tableViewport">
        <table>
          <tr ng-repeat="entry in checkinLog.entries" ng-click="entry.location && showLocation([entry])">
            <td location-title class="location"><i class="icon-map-marker"></i></td>
            <td class="timestamp">{{entry.timestamp | date:'short'}}</td>
            <td>{{entry.message}}</td>
          </tr>
        </table>
      </div>
      <footer>
        <button ng-click="closeCheckinLog()">Close</button>
      </footer>
    </div>

    <div ui-modal ng-model="showMap" class="fade">
        <div class="map" google-map></div>
        <footer>
            <button ng-click="closeMap()">Close</button>
        </footer>
    </div>

    <div ui-modal ng-model="showSetSite" class="fade setSiteLocation">
      <h2>Edit Site for {{currentPerson.name}}</h2>
      <tabs>
        <pane title="Known Sites">
          <div class="knownLocations">
            <input type="text" placeholder="filter" autofocus ng-model="locationFilter" />
            <ul>
              <li ng-repeat="location in knownLocations | filter:locationFilter"
                  ng-click="setSiteForCurrentPerson(location)">{{location.alias}}</li>
            </ul>
          </div>
        </pane>
        <pane title="New Site">
          <form novalidate name="newSiteForm" method="POST">
            <fieldset class="clearfix" ng-class="{error: registrationForm.groupId.$error.required}">
                <label for="newSiteAlias">Alias:</label>
                <input type="text" name="newSiteAlias" ng-model="newSite.alias" required />
                <span class="help-inline">Required</span>
            </fieldset>

            <fieldset class="clearfix lat" ng-class="{error: registrationForm.groupId.$error.required}">
                <label for="newSiteLat">Latitude:</label>
                <input type="text" name="newSiteLat" ng-model="newSite.lat" required />
                <span class="help-inline">Required</span>
            </fieldset>

            <fieldset class="clearfix lon" ng-class="{error: registrationForm.groupId.$error.required}">
                <label for="newSiteLng">Longitude:</label>
                <input type="text" name="newSiteLng" ng-model="newSite.lng" required />
                <span class="help-inline">Required</span>
            </fieldset>

            <div class="map"></div>

            <footer>
              <button>Add Site</button>
            </footer>
          </form>
        </pane>
      </tabs>
    </div>

    <script src="vendor/jquery-1.8.3.min.js"></script>
    <script src="vendor/angular-1.0.3.min.js"></script>
    <script src="vendor/bootstrap-modal.min.js"></script>
    <script src="vendor/angular-ui-modal.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/tabs.js"></script>
    <script src="js/admin.js"></script>

</body>
</html>
